html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f4efe3;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Bootstrap style table */
/* cannot directly load booystrap css since will crash the slider */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  color: #56481f;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.table tbody+tbody {
  border-top: 1px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

#viewDiv {
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 70%;
}

#viewDiv canvas {
  filter: drop-shadow(0px 0px 5px rgb(86, 72, 31));
}

#queryDiv {
  position: absolute;
  min-width: 250px;
  font-size: 14px;
  padding: 10px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.geometry-options {
  display: flex;
  flex-direction: row;
}

.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

#bufferNum {
  width: 90%;
  margin: 2.5em auto 0;
}

.count {
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

/* https://glitch.com/edit/#!/zurich-contours?path=style.css%3A113%3A5 */
#contentDiv {
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  width: 30%;
  height: 100%;
  background-color: #f4efe3ee;
  color: #56481f;
  padding: 2.5em;
  line-height: 1.5;
  overflow-y: auto;
  box-sizing: border-box;
}

h1 {
  padding: 1.5em 0 0.5em;
  margin: 1;
}

.title {
  cursor: pointer;
  padding: 1.5em 0 0.5em;
  margin: 0;
  font-weight: bold;
}

.map-icon {
  height: 20px;
  vertical-align: middle;
}

.indicator {
  cursor: pointer;
  border-bottom: 1px dashed #56481f;
}

.indicator:hover {
  border-bottom: 1px solid #56481f;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #56481f;
  color: #56481f;
}

a:hover {
  border-bottom: 1px solid #56481f;
}

footer {
  font-size: 0.8em;
  line-height: 1.3em;
  border-top: 1px solid #56481f;
  padding-top: 2em;
  margin-top: 2em;
}

/* esri widgets */
.esri-ui-corner .esri-component {
  box-shadow: none;
}

.esri-zoom .esri-widget--button:last-child {
  border-top: 1px solid #56481f;
}

.esri-navigation-toggle:hover,
.esri-navigation-toggle:focus {
  background-color: transparent;
}

.esri-widget--button {
  color: #56481f;
  background-color: #f4efe3;
  border: 1px solid #56481f;
  border-radius: 50%;
  margin-top: 3px;
}

.esri-widget--button:hover {
  background-color: #c9c1ae;
  color: #56481f;
}

.esri-attribution__sources[role="button"] {
  color: #56481f;
}

/* top-left map control widgets and queryDiv */
/* Normal widget have background, yet transparent on top-left map widget */
.esri-widget {
  background-color: #f4efe3dd;
}

.esri-zoom,
.esri-navigation-toggle {
  background-color: transparent;
}

/* Clear results button */
.esri-button {
  background-color: #56481f;
  border: 1px solid #56481f;
}

/* Slider */
.esri-slider__thumb {
  background-color: #f4efe3;
  border: 2px solid #56481f;
}
