html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f4efe3;
  font-family: 'Source Sans Pro', sans-serif;
}

#viewDiv {
  position: absolute;
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 70%;
}


#viewDiv canvas {
  filter: drop-shadow(0px 0px 5px rgb(86, 72, 31));
}

#queryDiv {
  position: absolute;
  min-width: 250px;
  font-size: 14px;
  padding: 10px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.geometry-options {
  display: flex;
  flex-direction: row;
}
.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}
.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

#bufferNum {
  width: 90%;
  margin: 2.5em auto 0;
}

.count {
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

/* https://glitch.com/edit/#!/zurich-contours?path=style.css%3A113%3A5 */

#contentDiv {
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  width: 30%;
  height: 100%;
  /* max-height: 100%; */
  background-color: #f4efe3ee;
  color: #56481f;
  padding: 2.5em;
  line-height: 1.8em;
  overflow-y: auto;
  box-sizing: border-box;
 }
 h1 {
  padding: 1.5em 0 0.5em;
  margin: 0;
 }

 .title {
   cursor: pointer;
   padding: 1.5em 0 0.5em;
   margin: 0;
   font-weight: bold;
 }

 .map-icon {
   height: 20px;
   vertical-align: middle;
 }

 .indicator {
   cursor: pointer;
   border-bottom: 1px dashed #56481f;
 }

 .indicator:hover {
   border-bottom: 1px solid #56481f;
 }

 footer {
   font-size: 0.8em;
   line-height: 1.3em;
   border-top: 1px solid #56481f;
   padding-top: 2em;
   margin-top: 2em;
 }

 footer>a {
   text-decoration: none;
   border-bottom: 1px dashed #56481f;
   color: #56481f;
 }

 footer>a:hover {
   border-bottom: 1px solid #56481f;
 }
